.load{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    font-family: 'Courier New', Courier, monospace;
    font-size: 5rem;
    font-weight: 900;
    color: coral;
}